cloudpickle==2.1.0
eagerpy==0.29.0
foolbox==3.2.1
gym==0.22.0
optuna==2.7.0
pandas==1.3.4
stable-baselines3==0.10.0
tensorflow==2.1.0
tensorflow-estimator==2.1.0
torch==1.12.0+cpu
torchvision==0.13.0+cpu

